/* some resets */
h1,
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 1fr;
  /* background-color: bisque; */
  /* background-color: #fcd720; */
  background-color: #e8bc4d;
  gap: 1rem;
  margin: 0;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  border: 4px black solid;
  gap: 10px;
  padding: 10px;
  margin-right: 1rem;
}

#config {
  grid-column: 1 / 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: lightgrey;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  border: 4px black solid;
  padding: 1rem;
  gap: 1rem;
  margin-left: 1rem;
}

#customization-section,
#creator-info {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}

#creator-info p {
  text-align: left;
}

select {
  width: 10rem;
}

figure.main-section {
  min-width: 920px;
  /* max-width: 100%; */

  grid-column: 1 / 3;
  grid-row: 2 / 3;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  justify-content: center;
}

.main-section {
  border: 2px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.plot-container {
  display: flex;
  justify-content: center;
}

#name-section {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  /* align-items: center; */
}

#name-section h1 {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

#name-section h2 {
  font-size: 1rem;
}

#name-section h3 {
  font-size: 3rem;
  margin-top: -0.5rem;
}

#info-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-content: center;
  gap: 3rem;
}

#info-section h2 {
  font-size: 2rem;
}

#info-section h3 {
  font-size: 3rem;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----- stuff for the statpage ----- */

.sp-content {
  display: grid;
  grid-template-rows: 1080px 1fr;
  grid-template-columns: 1920px;
}

/* --- Overlay --- */

.sp-overlay {
  display: grid;
  grid-template-columns: 9fr 1fr 1fr 9fr;
  grid-template-rows: 250px 1fr;
}

#vsText {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cd0024;
  font-size: 5rem;
}

.sp-controls {
  background-color: lightgrey;
  height: 500px;
  width: 100%;
}

#sp-p1name,
#sp-p2name {
  font-size: 4rem;
  color: #e8bc4d;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sp-p1name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#sp-p2name {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

#sp-p1area {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

#sp-p2area {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

#sp-p1area,
#sp-p2area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.sp-stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sp-stat-item > h1 {
  font-size: 2rem;
}

.sp-stat-item > h2 {
  font-size: 3rem;
}

#sp-p1choose,
#sp-p2choose {
  width: 30rem;
  height: 30rem;
  background-color: white;
  /* eventually scroll if overflow */
  overflow-y: scroll;
  font-size: 2rem;
}

#sp-p1box,
#sp-p2box {
  border: 1px solid black;
  background-color: white;
  width: 20rem;
  height: 2rem;
  font-size: 2rem;
}

.sp-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

#statpage-update-button {
  font-size: 2rem;
}
